node_modules
dist
dev-dist
data
.git
.gitignore
*.log
npm-debug.log*
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite
.trae
docker-compose.yml
ecosystem.config.cjs
vercel.json
nodemon.json
README.md
docs
